body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  /* Gradiente de roxo para azul */
  color: #333;
  overflow-y: scroll;
  /* Força a exibição da barra de rolagem vertical */
}


/* Personalizando a barra de rolagem */
::-webkit-scrollbar {
  width: 12px;
  /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #25D366;
  /* Cor do "thumb" (parte que o usuário arrasta) */
  border-radius: 6px;
  /* Cantos arredondados */
  border: 3px solid #fff;
  /* Borda branca ao redor do thumb */
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  /* Cor do fundo da barra de rolagem */
  border-radius: 6px;
  /* Cantos arredondados da pista */
}

/* Certificando-se de que o contêiner ocupa toda a tela */
#particles-js {
  position: fixed;
  /* Fixa o fundo */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Garante que as partículas fiquem atrás do conteúdo */
}


/* Barra de rolagem para o modal (quando a tela estiver muito pequena) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  /* Permite rolagem caso o conteúdo do modal seja grande */
}

/* Barra de rolagem do conteúdo */
.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
  max-height: 80vh;
  overflow-y: auto;
  /* Permite rolar o conteúdo se necessário */
}


/* Navbar Transparente com Desfoque */
.navbar {
  /*background-color: rgba(52, 58, 64, 0.8);
      /* Cor de fundo com transparência (80%) */
  backdrop-filter: blur(10px);
  /* Efeito de desfoque no fundo */
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  /* Suaviza a transição */
  backdrop-filter: blur(10px);
  /* Adiciona desfoque */

}

/* Navbar opaca após rolar */
.navbar.scrolled {
  background-color: rgba(52, 58, 64, 1);
  /* Fundo opaco quando a página é rolada */
  backdrop-filter: none;
  /* Retira o desfoque */
}

/* Ajustes adicionais para o menu */
.navbar a {
  color: #fff !important;
  /* Garantir que os links estejam sempre brancos */
}

.navbar-toggler-icon {
  background-color: #fff;
  /* Ícone de hambúrguer branco */
}


.hero {
  background: url('https://via.placeholder.com/1600x600') no-repeat center center;
  background-size: cover;
  height: 90vh;
  /* Ajuste de altura */
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  padding: 0 20px;
  /* Adiciona espaçamento nas laterais para dispositivos pequenos */
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(5px);
  z-index: -1;
}

.hero h1,
.hero p {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.hero h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  /* Tamanho de fonte ajustado */
  color: #ffffff;
  font-weight: bold;
  line-height: 1.2;
  max-width: 90%;
  /* Limita a largura do texto */
  margin-bottom: 15px;
  /* Espaço entre título e parágrafo */
}

.hero p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  /* Tamanho de fonte para o parágrafo */
  color: #ffffff;
  max-width: 90%;
  /* Limita a largura do texto */
}

/* Responsividade */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
    /* Ajuste de tamanho para telas menores */
  }

  .hero p {
    font-size: 1rem;
    /* Ajuste de tamanho para parágrafo */
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 2rem;
    /* Ajuste adicional para telas muito pequenas */
  }

  .hero p {
    font-size: 0.875rem;
    /* Ajuste para dispositivos ainda menores */
  }
}


.hero p {
  font-size: 1.5rem;
  animation: fadeIn 3s ease-in-out;
}

/* Estilo para a seção "Sobre Mim" */
#about {
  color: #f8f9fa;
  /* Cor de texto mais clara para melhorar o contraste */
}

#about .section-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
  /* Cor mais forte para o título */
  margin-bottom: 20px;
}

#about p {
  font-size: 1.1rem;
  line-height: 1.8;
  /* Maior espaçamento entre as linhas para facilitar a leitura */
  color: #e0e0e0;
  /* Cor mais clara, mas ainda legível sobre fundos mais escuros */
  text-align: justify;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  /* Sombra suave no texto para melhorar a visibilidade */
}

#about .col-lg-6 img {
  border-radius: 50%;
  max-width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra ao redor da imagem */
}

/* Ajuste do texto para dispositivos móveis */
@media (max-width: 768px) {
  #about p {
    font-size: 1rem;
    /* Tamanho de fonte um pouco menor em telas menores */
    line-height: 1.6;
  }

  #about .section-title {
    font-size: 2rem;
    /* Título menor em telas pequenas */
  }
}



.section-title {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #333;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card-text {
  font-size: 0.8rem;
}



#redes-sociais {

  background-color: #f7f7f7;
  padding: 40px 0;
  text-align: center;
}

#redes-sociais h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #333;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  animation: fadeIn 1s ease-in-out;
}

/* Efeito Neon no Hover dos Botões */
.btn-primary:hover,
.social-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.4), 0 0 30px rgba(0, 255, 255, 0.3);
  background-color: rgba(0, 255, 255, 0.6);
  transition: all 0.3s ease-in-out;
}

.social-btn {
  background-color: #25D366;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  opacity: 0;
  animation: slideIn 1s forwards;
}

.social-btn:hover {
  background-color: #128C7E;
  transform: translateY(-5px);
}



.fab {
  font-size: 24px;
}

.linkedin {
  background-color: #0e76a8;
}

.linkedin:hover {
  background-color: #075a8e;
}

.github {
  background-color: #333;
}

.github:hover {
  background-color: #1a1a1a;
}

.instagram {
  background-color: #E1306C;
}

.instagram:hover {
  background-color: #9b1753;
}

.social-icons i {
  font-size: 24px;
  /* Ajuste do tamanho dos ícones */
}

.footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 30px 0;
}

.social-icons i {
  font-size: 1.5rem;
  margin: 0 10px;
  color: #fff;
  transition: color 0.3s ease;
}

.social-icons i:hover {
  color: #0d6efd;
  cursor: pointer;
}

/* Título da seção */
#skills .section-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 30px;
  font-weight: bold;
}

/* Efeito de Glow nos Títulos */
.section-title:hover {
  color: #00f9ff;
  text-shadow: 0 0 10px #00f9ff, 0 0 20px #00f9ff, 0 0 30px #00f9ff;
  transition: all 0.3s ease;
}

/* Barra de habilidades */
.skill-bar-container {
  position: relative;
  margin-bottom: 20px;
}

.skill-bar {
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.skill-progress {
  display: block;
  height: 100%;
  border-radius: 10px;
}

.skill-percentage {
  position: absolute;
  top: -30px;
  right: 0;
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
}

/* Animação para a barra de progresso */
.skill-progress {
  animation: fillBar 2s ease-out forwards;
}

@keyframes fillBar {
  from {
    width: 0;
  }

  to {
    width: 90%;
  }
}


/* Estilo para os vídeos */
.video-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  /* Proporção 16:9 */
  height: 0;
  max-width: 100%;

  border-radius: 10px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* Botões de Projeto */
.card .btn {
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.card .btn:hover {
  background-color: #0056b3;
  /* Cor de fundo mais escura ao passar o mouse */
  transform: translateY(-5px);
  /* Efeito de levitação no hover */
}


/* Ajuste para o botão do WhatsApp */
.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 40px;
  background-color: #25D366;
  background-size: cover;
  border-radius: 100px;
  color: white;
  font-size: 2rem;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
}

.whatsapp-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.7);
}


/* Estilo do modal (inicialmente oculto) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

/* Conteúdo do modal */
.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
}

/* Botão de fechar (X) */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  float: right;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Estilo do formulário */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #25D366;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

button:hover {
  background-color: #128C7E;
}

/* Animation Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Animação para o efeito de entrada */
@keyframes slideIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Estilos responsivos */
@media (max-width: 768px) {

  /* Reduzir a largura da barra de rolagem em dispositivos móveis */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #128C7E;
  }
}